<!DOCTYPE HTML>
<html ng-app>
  <head>
    <title>Angular Chat</title>
    <link rel="stylesheet" type="text/css" href= "//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" />
  </head>
  <body ng-controller="chat" style="background-color:#abc">
    <div class="container" style="background-color: white; height: 100%">
      <h1>Angular Chat</h1>
      <form name="chatform" style = "font-weight: bold" ng-submit="POSTmessage()">
        Username: <input type="submit" placeholder = "type a username" ng-model="username">
        Message: <input type="submit" class = "theMessage" placeholder = "type your message" ng-model="msg">
        <button type="button" class="btn btn-lg btn-primary" ng-click="POSTmessage()">Submit Message</button>
      </form>
      <blockquote>
      <div>
        <div ng-repeat="item in items">
          <h4>
          <span>{{item.username + ": "}}</span>
          </h4>
          <span style = "color: white">----</span>
          <span>{{item.message}} </span>
        </div>
      </div>
      </blockquote>
    </div>
  </body>
  <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
  <script>
    function chat($scope,$http){
      $scope.POSTmessage = function(){
        var msg = {message: $scope.msg, username: $scope.username};
        msg = JSON.stringify(msg);
        $http.post("/chat",msg);
        $('.theMessage').val('')
      };
      setInterval(function(){
        $http.get("/chat").success(function(data,status){
          $scope.items = data.reverse()
        });
      },500);
    }
  </script>
</html>
